body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ffc72c, #ff2c9d);
  height: 100%;
}

.container {
  margin: 30px auto;
  width: 350px;
  height: 700px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.balance {
  text-align: center;
  font-size: 40px;
  margin-top: auto;
}

.acc-sum-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  background-color: aqua;
  border-radius: 30px;
}

.acc-sum-container > div {
  flex: 1;
  text-align: center;
  border-right: 1px solid;
}

.plus {
  color: green
}

.minus {
  color: red;
}

.transaction-list {
  list-style-type: none;
  margin-bottom: 40px;
}

.transaction-list li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.transaction-list li.plus {
  border-right: 5px solid green;
}

.transaction-list li.minus {
  border-right: 5px solid red;
}

.transaction-list li.plus:hover {
  background-color: green;
  color: black;
}

.transaction-list li.minus:hover {
  background-color: red;
  color: black;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.delete-btn {
  cursor: pointer;
  background-color: black;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  /*opacity: 0;
  transition: opacity 0.3s ease; */
} 

.list li:hover .delete-btn {
  opacity: 1;
}

.form-control1 {
  text-align: center;
  margin: auto;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 350px;
  height: 30px;
  margin: 30px 0px 30px 0px;
}

.form-control label {
  margin-bottom: -30px;
}